.book__card {
  border: #FFFFFE 1px solid;
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 25px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
