<div class="edit__form">
  <form class="form">
    <input class="form__input" type="text" id="name" name="name" placeholder="name">
    <input class="form__input" type="text" id="genre" name="genre" placeholder="genre">
    <input class="form__input" type="text" id="authorFullName" name="authorFullName" placeholder="authorFullName">
    <input class="form__input" type="text" id="desc" name="desc" placeholder="desc">
    <input class="form__input" type="text" id="image" name="image" placeholder="image">
    <input class="button" style="margin-left: 0; width: 50%" type="submit" value="Отправить" (click)="send(book)">
  </form>
</div>
