* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #16161A;
}

.button {
  border: 2px solid #FFFFFE;
  background-color: inherit;
  color: white;
  padding: 10px;
  margin-left: 30px;
}

.button:hover {
  background-color: #868680;
  transition: 0.5s;
}

.form__input {
  color: black;
  width: 50%;
  height: 40px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
